@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --primar-color: #AC5606;
  --font-default: 'Inter';
  
}

html {
  scroll-behavior: smooth;
  
}


  header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  height: 100vh;
  position: relative;
  padding-left: 6.8rem;
  padding-top: 0; 
  overflow: hidden;
}

  


section {
  height: 100vh;
    /*é o 100% da tela, tela cheia*/
  position: absolute;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  color: #AC5606;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content {
  display: flex;
  align-items: flex-start; 
  padding-left: 4.6rem;
  padding-right: 4.6rem;
}

.text {
  display: flex;
  flex-direction: column; 
  margin-right: 20px; 
  margin-top: 20px; 
}


.imagem {
  max-width: 50%; 
  margin-right: 2rem; 
}


section>img {
  max-width: 50%;
  margin-right: 2rem;
  width: 404px;
  height: 399px;
  flex-shrink: 0;
  border-radius: 404px;
  background: url(//assets/imagens/Ellipse\ 1.png), lightgray 50% / cover no-repeat;
}

/*pseudo-elemento*/
header::before {
  content: '';
  background-image: url('../imagens/Backdrop.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

h1 {
  color: #9CAFAD;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

h3{
width: 580px;
height: 154px;
flex-shrink: 0;
color: #AC5606;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

h6 {
  color: #000;
  font-family: Jost;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 536px;
  height: 212px;
  flex-shrink: 0;
}

span {
color: #AC5606;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
  
}

.botao {

  background-color: var(--primar-color);
  color: #FFF;
  font-family: var(--font-default);
  padding: .25rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 1s;
  

}

.botao:hover {
  background-color: #512903;
  
}

.secao-apresentacao {
  display: flex;
  padding: 6rem;
  gap: 2rem;
  align-items: center; 
}

.secao-apresentacao img {
  width: 404px;
  height: 399px;
  flex-shrink: 0;
}

.secao-apresentacao div {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  max-width: 60%;
}


.secao-apresentacao h3 {
  width: 580px;
  height: 154px;
  flex-shrink: 0;
  margin-left: 20px; 
  color: #AC5606;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.secao-apresentacao h6 {
  width: 536px;
  height: 212px;
  flex-shrink: 0;
  margin-left: 20px; 
  color: #080808;
  font-family: Jost;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.novo-botao {
  background-color: #AC5606;
  color: #FFF;
  font-family: var(--font-default);
  padding: .25rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 1s;
  margin-top: 10px; 
  display: inline-block; 
  margin-left: 143px; 
}

.novo-botao:hover {
  background-color: #512903;
}
